# Data Preperation & Cleaning

## Import modules

In [2]:
import pandas as pd

## Read data from csv file

In [3]:
df_txt = pd.read_csv("data/data.tsv.txt", sep="<br>", header=None, names=['0', '1', '2'])

/tmp/ipykernel_53/3583879330.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_txt = pd.read_csv("data/data.tsv.txt", sep="<br>", header=None, names=['0', '1', '2'])

In [16]:
df_txt.sample(5)

,0,1,2
56337,When were they applied?,What cases motivated,their development?
270953,You're asking if not,leveling your combat skills makes,combat difficult?
173238,"I'm so excited,","and nervous, and excited.",And also nervous.
310876,Nuke it from orbit.,Its the only way to be,sure ya killed 'em all!
187476,Forgetting these points,are almost definitely,why it was removed.

In [7]:
df = pd.read_csv("data/haikus.csv")

In [8]:
df.head()

,0,1,2,source,0_syllables,1_syllables,2_syllables
0,Memorial Day --,a shadow for each,white cross,tempslibres,5,5,2
1,spring rain -,as the doctor speaks,i think of lilacs,tempslibres,"2,3",5,5
2,spring moonset --,a rice ball for,breakfast,tempslibres,"3,4",4,2
3,sunny afternoon,an old man lingers,near the mailbox,tempslibres,5,5,4
4,cinco de mayo,horses roll,in the shallows,tempslibres,5,3,4

## Get only haikus with the syllable structure 5-7-5

In [84]:
df_575_only = df[(df['0_syllables'] == '5') & (df['1_syllables'] == '7') & (df['2_syllables'] == '5')]

## Drop not needed columns

In [85]:
pd.options.mode.chained_assignment = None # supress warning
df_575_only.drop(columns=["source", '0_syllables', '1_syllables', '2_syllables'], inplace=True)

# Merge dfs

In [86]:
df = df_575_only.append(df_txt)

/tmp/ipykernel_49/193737362.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df_575_only.append(df_txt)

## Make every value in columns to lowercase

In [87]:
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

## Remove unnecessary chars

In [88]:
df['0'] = df['0'].str.replace('[^\w\s]', '')
df['1'] = df['1'].str.replace('[^\w\s]', '')
df['2'] = df['2'].str.replace('[^\w\s]', '')

/tmp/ipykernel_49/4292570156.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['0'] = df['0'].str.replace('[^\w\s]', '')
/tmp/ipykernel_49/4292570156.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['1'] = df['1'].str.replace('[^\w\s]', '')
/tmp/ipykernel_49/4292570156.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['2'] = df['2'].str.replace('[^\w\s]', '')

In [94]:
df = df[~df['0'].str.contains('_')]
df = df[~df['1'].str.contains('_')]
df = df[~df['2'].str.contains('_')]

# Remove rows with numbers

In [96]:
df = df[~df['0'].str.contains(r'\d')]
df = df[~df['1'].str.contains(r'\d')]
df = df[~df['2'].str.contains(r'\d')]

## Drop index and save to csv

In [98]:
df.to_csv('data/out.csv', index=False)

In [95]:
df.shape

(438234, 3)