# Data Preperation & Cleaning

## Import modules

In [ ]:
import pandas as pd

## Read data from csv file

In [ ]:
df = pd.read_csv("HaikuGen/data/haikus.csv")

## Get only haikus with the syllable structure 5-7-5

In [ ]:
df_575_only = df[(df['0_syllables'] == '5') & (df['1_syllables'] == '7') & (df['2_syllables'] == '5')]

## Drop not needed columns

In [ ]:
pd.options.mode.chained_assignment = None # supress warning
df_575_only.drop(columns=["source", '0_syllables', '1_syllables', '2_syllables'], inplace=True)

## Make every value in columns to lowercase

In [ ]:
df_575_only = df_575_only.applymap(lambda s: s.lower() if type(s) == str else s)

## Remove unnecessary chars

In [ ]:
df_575_only['0'] = df_575_only['0'].str.replace('[^\w\s]', '')
df_575_only['1'] = df_575_only['1'].str.replace('[^\w\s]', '')
df_575_only['2'] = df_575_only['2'].str.replace('[^\w\s]', '')

/tmp/ipykernel_73/1203225326.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_575_only['0'] = df_575_only['0'].str.replace('[^\w\s]', '')
/tmp/ipykernel_73/1203225326.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_575_only['1'] = df_575_only['1'].str.replace('[^\w\s]', '')
/tmp/ipykernel_73/1203225326.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_575_only['2'] = df_575_only['2'].str.replace('[^\w\s]', '')

In [ ]:
df_575_only

,0,1,2
34,last red in the sky,a small girls moon face rises,over the counter
200,christmas services,a cellular phone rings out,handels messiah
373,passover darkness,before the buds burst open,a childs eyes in death
430,last night of summer,the bright full moon of last night,hidden by a cloud
434,midnight and full moon,my neighbour asks to borrow,the vacum cleaner
...,...,...,...
143132,im not asking did,you say it nor clarify,what you said neither
143133,you are truly a,moron or a liar im,inclined to think both
143134,aint no selfie on,this earth thats gonna make me,like theresa may
143135,is doing a great,job turning independents,into democrats
143136,wanted to send a,quick follow up on if the,blood is loud talk soon

## Drop index and save to csv

In [ ]:
df_575_only.to_csv('HaikuGen/data/out.csv', index=False)